<header class="header">
  <div class="logo">
    <h1>GrandCanyon</h1>
  </div>
  <div class="menu">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/member">Member</a></li>
      <li><a href="/registration">Registration</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </div>
</header>