<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
{{>navbar}}
<div class="home">
  <div class="leftContent">
    <h1>Hello,{{name}}</h1>
    <p>Your email</p>
  </div>
  <div class="rightContent">
    <img src="https://picsum.photos/seed/picsum/700/613" alt="images">
  </div>

</div>
 
</body>
</html>